* {
  box-sizing: border-box;
}

main {
  margin: 5rem 2rem;
}

h1 {
  color: blueviolet;
  font-size: 2.5rem;
}

h2 {
  color: chocolate;
  font-size: 2rem;
}



p::selection {
  background-color: olivedrab;
}
